h1 {
    color: white;
}

table, th, td {
	
	border-collapse: collapse;
    border: 2px solid black;
    padding: 10px;
    font-size: 15px;
}
tr:nth-child(even) {
background-color: gray;
}
tr:nth-child(odd) {
background-color:white;
}
th, td {
	padding: 4px;
}

th {
	background-color: white;
}

p{
color: white;
}
body {
	margin: 10px;
	background: url(Cardinal.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
    background-position: fixed;    
	font-family: arial;
}
a.statButton:link, a.statButton:visited, a.statButton:active {
	color: black;
	font-size: 1.2em;
	text-decoration: none;
	background-color: gray;
	padding: 5px;
	border: 1px solid black;
}

a.statButton:hover {
	background-color: gray;
}

#form1 {
	padding: 5px;
}